/* Reset */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
  ul {
    list-style: none;
  }
   
  a,
  button {
    color: inherit;
  }
   
  a {
    text-decoration: none;
  }
   
  button {
    background: none;
    cursor: pointer;
  }
   
  input {
    -webkit-appearance: none;
  }
   
  button,
  input {
    border: none;
  }
   
  svg {
    display: block;
  }
   
  body {
    font: 16px "Lato", sans-serif;
  } */





body {
    background-color: #DBDBD9;
    font-family: 'Federant', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav {
  display: flex;
  justify-content: center;
}  
.nav button {
    margin: .5rem;
}
.logo img {
  height: 3rem;
  margin-top: .2rem;
}
h1 {
    font-family: 'Press Start 2P', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;

}
h2 {
    font-family: 'Federant', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin-top: 3rem;
}
.projects {
  height: 175px;
  padding-top: 1rem;
  text-align: center;
  background-color: chartreuse;
}

.projects p {
  text-decoration: none;
  color: black;
}
